.advantages-list__item {
	max-width: 455px;
	margin: auto;
	margin-bottom: 35px;
	
	text-align: center;

	&:first-child {
		padding-top: 120px;
	}

	&:last-child {
		margin-bottom: 0;
		padding-bottom: 315px;
	}

	&--phone-3 {
		background-repeat: no-repeat;
		background-position: center 147px;
		background-size: 157px;
	}
}

.no-webp .advantages-list__item {

	&--phone-3 {
		background-image: 
			url("../img/iphone-screen-mobile@1x.png");

		@media (min-resolution: 144dpi),
		       (min-resolution: 1.5dppx) {

			background-image: 
				url("../img/iphone-screen-mobile@2x.png");
		}
	}
}

.webp .advantages-list__item {

	&--phone-3 {
		background-image: 
			url("../img/iphone-screen-mobile@1x.webp");

		@media (min-resolution: 144dpi),
		       (min-resolution: 1.5dppx) {

			background-image: 
				url("../img/iphone-screen-mobile@2x.webp");
		}
	}
}

.advantages-list__title {
	display: block;
	margin-bottom: 13px;

	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: #000000;
}

.advantages-list__text {
	margin: 0;

	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #283645;	
}

@media (min-width: @tablet-width) {
	.advantages-list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 305px;
		padding-bottom: 45px;
		padding-top: 120px;
		min-height: 515px;

		background-repeat: no-repeat;
		background-position: left bottom;
		background-size: 268px;

		box-sizing: border-box;
	}

	.no-webp .advantages-list {
		background-image: 
			url("../img/iphone-screen-3-tablet@1x.png");

		@media (min-resolution: 144dpi),
	       	   (min-resolution: 1.5dppx) {

			background-image: 
				url("../img/iphone-screen-3-tablet@2x.png");
	    }
	}

	.webp .advantages-list {
		background-image: 
			url("../img/iphone-screen-3-tablet@1x.webp");

		@media (min-resolution: 144dpi),
	       	   (min-resolution: 1.5dppx) {   	

			background-image: 
				url("../img/iphone-screen-3-tablet@2x.webp");
	    }
	}

	.advantages-list__item {
		margin: 0;	
		margin-bottom: 35px;
		max-width: none;

		text-align: left;

		&:first-child {
			padding-top: 0px;
		}

		&:last-child {
			padding-bottom: 0;
		}
	}

	.webp .advantages-list__item,
	.no-webp .advantages-list__item {

		&--phone-3 {
			background-image: none;
		}
	}
}

@media (min-width: @desktop-width) {
	.advantages-list {
		flex-direction: row;
		flex-wrap: wrap;
		padding: 0;
	}

	.webp .advantages-list,
	.no-webp .advantages-list {
		background-image: none;
	}

	.advantages-list__item {
		width: 33.3333%;
		padding-top: 360px;

		text-align: center;

		&:first-child {
			padding-top: 360px;
		}

		&--phone-1,
		&--phone-2,
		&--phone-3 {
			background-repeat: no-repeat;
			background-position: center top;
			background-size: 292px;
		}
	}

	.no-webp .advantages-list__item {

		&--phone-1 {
			background-image: 
				url("../img/iphone-screen-1-desktop@1x.png");

			@media (min-resolution: 144dpi),
		       	   (min-resolution: 1.5dppx) {

				background-image: 
					url("../img/iphone-screen-1-desktop@2x.png");
		    }
		}

		&--phone-2 {
			background-image: 
				url("../img/iphone-screen-2-desktop@1x.png");

			@media (min-resolution: 144dpi),
		       	   (min-resolution: 1.5dppx) {

				background-image: 
					url("../img/iphone-screen-2-desktop@2x.png");
		    }
		}

		&--phone-3 {
			background-image: 
				url("../img/iphone-screen-3-desktop@1x.png");

			@media (min-resolution: 144dpi),
		       	   (min-resolution: 1.5dppx) {
		       	   	
				background-image: 
					url("../img/iphone-screen-3-desktop@2x.png");
		    }
		}
	}

	.webp .advantages-list__item {

		&--phone-1 {
			background-image: 
				url("../img/iphone-screen-1-desktop@1x.webp");

			@media (min-resolution: 144dpi),
		       	   (min-resolution: 1.5dppx) {

				background-image: 
					url("../img/iphone-screen-1-desktop@2x.webp");
		    }
		}

		&--phone-2 {
			background-image: 
				url("../img/iphone-screen-2-desktop@1x.webp");

			@media (min-resolution: 144dpi),
		       	   (min-resolution: 1.5dppx) {

				background-image: 
					url("../img/iphone-screen-2-desktop@2x.webp");
		    }
		}

		&--phone-3 {
			background-image: 
				url("../img/iphone-screen-3-desktop@1x.webp");

			@media (min-resolution: 144dpi),
		       	   (min-resolution: 1.5dppx) {

				background-image: 
					url("../img/iphone-screen-3-desktop@2x.webp");
		    }
		}
	}

	.advantages-list__title {
		padding: 0 15px;
		margin-bottom: 25px;

		font-size: 30px;
		line-height: 30px;
	}

	.advantages-list__text {
		padding: 0 30px;

		font-size: 18px;
		line-height: 30px;
	}
}