.contacts {
	padding-bottom: 42px;

	background-color: #ffffff;
}

.contacts__wrapper {
	// width: 280px;
	padding: 0 20px;
}

.contacts__questions {
	margin: 0;
	padding-top: 42px;
	margin-bottom: 32px;

	font-size: 24px;
	line-height: 30px;
	font-weight: 300;
	color: #283645;

	text-align: center;
}

.contacts__information {
	font-size: 18px;
	line-height: normal;
	font-weight: 700;
	color: #283645;

	text-align: center;
}

.contacts__information-item {
	margin: 0;
	margin-bottom: 22px;

	&:last-child {
		margin-bottom: 0;
	}
}

.contacts__phone-number,
.contacts__letter-mail,
.contacts__address-street {
	font-size: 24px;
	line-height: 31px;
	font-weight: 300;
	font-style: normal;
	color: #d22856;
}

.contacts__letter-mail {
	transition-duration: 0.1s;
	transition-property: color;
	transition-timing-function: linear;

	&:hover,
	&:focus {
		color: rgb(40, 54, 69);
		text-decoration: underline;
	}

	&:active {
		color: rgba(40, 54, 69, 0.3);
		text-decoration: none;
	}
}

@media (min-width: @tablet-width) {
	.contacts {
		padding-bottom: 28px;
	}

	.contacts__wrapper {
		// width: 620px;
	}

	.contacts__questions {
		padding-top: 47px;
		margin-bottom: 43px;

		font-size: 40px;
		line-height: 47px;
	}

	.contacts__information {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: flex-start;
	}	

	.contacts__information-item {
		margin: 0;

		&:last-child {
			margin-top: 45px;
			width: 100%;
		}
	}

	.contacts__phone,
	.contacts__letter,
	.contacts__address {
		display: inline-block;
		margin-bottom: 4px;
	}
}

@media (min-width: @desktop-width) {
	.contacts {
		padding-bottom: 17px;
	}

	.contacts__wrapper {
		width: 940px;
		padding: 0 10px;
		margin: 0 auto;
	}

	.contacts__questions {
		padding-top: 68px;
		margin-bottom: 56px;

		font-size: 50px;
		line-height: 59px;
	}

	.contacts__information {
		justify-content: flex-start;
	}	

	.contacts__phone,
	.contacts__letter,
	.contacts__address {
		margin-bottom: 23px;
	}
	
	.contacts__information-item {

		&:first-child {
			margin-left: 47px;
		}

		&:nth-child(2) {
			order: 3;
			margin-left: 95px;
		}

		&:last-child {
			margin-top: 0;
			width: auto;
			margin-left: 112px;
		}
	}
}